<li>
  <span class="title"><%= link_to feed_entry.name, feed_entry %></span><br/>
  <span class="summary">
    <%= truncate(strip_tags(feed_entry.summary), :length => 170)%>
  </span>
  <span class="timestamp">
    Published <%= time_ago_in_words(feed_entry.published_at) %> ago.
  </span>
</li>