.feed_entries li.unfolded{
 border: 1px solid lightgray;  
}

#new_items_notification{
  background-color: lightyellow;
  padding: 10px;
}

#search{
  /* background-image: url(/assets/ajax-loader.gif);*/
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;
}
